html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

header nav h1{
    background: url('../img/logo-20.png') no-repeat center center;
    background-size: cover;
    display: inline-block;
    width:100%;
    max-width:187px;
    height:20px;
    text-indent: -999px;
    overflow: hidden;
}

.nav-link:hover i {
    color: #f8f9fa;
  }

  .nav-link i {
    vertical-align: middle;
    line-height: 1;
  }

/* Accordion */

.accordion-button:not(.collapsed) {
    background-color: rgb(149, 149, 149);
    color: #f8f9fa;
  }

  .accordion-collapse picture img {
    width: 100%;
    max-width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

/* Formulario */
  
#newsletter .text-bg-dark::placeholder {
    color: #f8f9fa;
    opacity: 0.3; 
  }


/*Modal de la alumna*/

.modal-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 0;
}

.modal-body ul{
    padding: 1.5em;
    padding-bottom: 0;
    margin: 0;
}
.modal-body ul li, .modal-body ul li a{
    list-style: none;
    text-decoration: none;
    line-height: 1.8em;
}

.modal-body ul li a{
    color:#f8f9fa;
}

.redes-sociales {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
  align-items: center;
}

.redes-sociales li a {
  font-size: 1.5rem;
  color: #f8f9fa;
  text-decoration: none;
}

.modal-body ul:first-of-type li:first-child {
    font-size: 2em;
    border-bottom: 2px solid rgba(149, 149, 149, 0.6);
    padding-bottom: 0.3em;
}



@media screen and (min-width: 768px) {
    header nav h1{
        background: url('../img/logo-30.png');
        max-width:280px;
        height:30px;
    }

    .accordion-collapse picture img {
      width: 75%;
    }

    .redes-sociales {
      flex-direction: row;
      justify-content: center;
      gap: 1rem;
    }
}

@media screen and (min-width: 1025px) {

    header nav h1 {
        background: url('../img/logo.png');
        max-width:374px;
        height:40px;
      }

    #modalAlumna .modal-body{
        flex-direction: row;
        justify-content: center;
        gap: 2em;
    }
    .modal-body figure{
        margin: 0;
    }
}